---
import Layout from "../layouts/Layout.astro";

function sanitiseUrl(url: string) {
  return import.meta.env.BASE_URL + url;
}
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <a href={sanitiseUrl("/background-image-fallback")}>
      Background Image Fallback
    </a>
    <a href={sanitiseUrl("/trigonometry")}>Trigonometry</a>
    <a href={sanitiseUrl("/text-effects")}>Text Effects</a>
    <a href={sanitiseUrl("/filter-transition")}>Filter Transition</a>
    <a href={sanitiseUrl("/list-counter")}>List Counter</a>
    <a href={sanitiseUrl("/image-filters")}>Image Filters</a>
    <a href={sanitiseUrl("/css-tooltip")}>CSS Tooltip</a>
    <a href={sanitiseUrl("/scroll-guide")}>Scroll Guide</a>
    <a href={sanitiseUrl("/animated-nav")}>Animated Nav</a>
    <a href={sanitiseUrl("/nav-transition/home")}>Nav Transition</a>
    <a href={sanitiseUrl("/glowing-border")}>Glowing Border</a>
    <a href={sanitiseUrl("/card-stacking")}>Card Stacking</a>
    <a href={sanitiseUrl("/mix-blend-mode")}>Mix Blend Mode</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  a {
    color: white;
    text-decoration: none;
    margin-block: 0.5rem;
  }
</style>
