<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <div class="container">
      <h1>Mix Blend Mode</h1>
    </div>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto numquam
      earum illum maiores eum tenetur impedit rerum possimus dignissimos.
      Quibusdam illo beatae deleniti mollitia dolore perspiciatis facilis velit
      quod? Cumque.</span
    ><span
      >Atque, nesciunt harum enim doloremque nostrum officia. Rem, eos possimus
      deserunt, consectetur quia perspiciatis est iure officiis excepturi eum
      maxime placeat suscipit, qui delectus in. Itaque inventore tempora minima
      ratione!</span
    >

    <span
      >Qui minima aut asperiores nulla. Est exercitationem nam quasi vel
      quisquam deleniti obcaecati culpa omnis, distinctio nobis saepe, optio
      eveniet enim, dolore nemo ipsam dolores architecto ducimus veritatis
      soluta illum?</span
    ><span
      >Doloremque laboriosam sed distinctio aliquid, itaque veritatis atque
      numquam minima tempore cum eligendi, sunt nam eum fuga, accusantium
      officia laudantium asperiores vero et unde consectetur. Aliquid beatae
      quia corporis magnam!</span
    >
    <span
      >Voluptate deserunt perferendis velit blanditiis quidem id tenetur earum
      perspiciatis aut deleniti vel vero, molestiae illo, asperiores architecto
      atque, beatae debitis repudiandae natus adipisci sint quia placeat!
      Suscipit, sequi accusamus.</span
    >
    <span
      >Voluptate deserunt perferendis velit blanditiis quidem id tenetur earum
      perspiciatis aut deleniti vel vero, molestiae illo, asperiores architecto
      atque, beatae debitis repudiandae natus adipisci sint quia placeat!
      Suscipit, sequi accusamus.</span
    >
    <span
      >Voluptate deserunt perferendis velit blanditiis quidem id tenetur earum
      perspiciatis aut deleniti vel vero, molestiae illo, asperiores architecto
      atque, beatae debitis repudiandae natus adipisci sint quia placeat!
      Suscipit, sequi accusamus.</span
    >
    <span
      >Voluptate deserunt perferendis velit blanditiis quidem id tenetur earum
      perspiciatis aut deleniti vel vero, molestiae illo, asperiores architecto
      atque, beatae debitis repudiandae natus adipisci sint quia placeat!
      Suscipit, sequi accusamus.</span
    >
    <div class="container c2">
      <h2>TEST BURN</h2>
    </div>
    <span
      >Ducimus quidem voluptatibus, magni inventore ex vel voluptatem voluptates
      aspernatur voluptatum? Architecto hic, doloremque blanditiis numquam quas
      vel atque praesentium natus obcaecati quidem mollitia consectetur, impedit
      fugit omnis. Earum, aut.</span
    ><span
      >Aperiam eius voluptatibus doloribus eveniet provident aspernatur quisquam
      ducimus ipsum quo nostrum, magnam sit. Blanditiis ex, itaque iure quidem
      atque aliquid, perferendis in vero recusandae similique dicta, inventore
      aut. Accusantium.</span
    ><span
      >Unde illo temporibus odio quae, vitae laudantium. Eos libero voluptatem
      excepturi odio vel voluptate autem adipisci facere. Quas eligendi suscipit
      non laudantium laboriosam dolorum, sit iure, harum molestias soluta vel?</span
    ><span
      >Officiis deleniti blanditiis nostrum eligendi quae vel harum laboriosam
      voluptates beatae? Non animi vel sequi, voluptatibus cupiditate ratione
      necessitatibus quod minima, laboriosam saepe distinctio provident qui?
      Ullam vel harum eum?</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >
    <span
      >Earum suscipit iure praesentium sapiente ducimus et obcaecati provident
      nesciunt dolorem amet dolore, officia repellat, laborum ab facere
      necessitatibus, mollitia atque eos quisquam ad. Voluptatem maiores earum
      error? Ex, neque.</span
    >

    <!-- <div class="bg"></div> -->
  </body>
</html>
<style>
  :root {
  }

  html {
    color: white;
    font-family: system-ui, sans-serif;
    font-weight: normal;
    font-size: 2em;
  }

  body {
    background: black;
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100svh;
    gap: 1rem;
    padding-inline: 2rem;
  }

  /* .bg {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle, magenta, transparent 30%),
      conic-gradient(red, magenta, blue, limegreen, green, yellow, red);
    background-image: linear-gradient(90deg, magenta, black);
    mix-blend-mode: color-burn;
    mix-blend-mode: color-dodge;
  } */

  h1 {
    padding-inline: 1rem;
    color: white;
    color: blue;
    /* position: relative; */
    /* display: inline-block; */
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
    /* mix-blend-mode: color-burn; */
  }

  span {
    font-size: 0.6em;
  }

  .container {
    position: relative;
    overflow: hidden;
  }

  h1::before {
    content: "";
    /* background-color: white; */
    background-image: linear-gradient(90deg, black 45%, aqua, black 55%);
    /* inset: 0; */
    top: 0;
    width: 200%;
    height: 100%;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    /* width: 100%;
    height: 100%; */
    position: absolute;
    /* z-index: -1; */
    /* filter: blur(1rem); */

    /* color: white; */
    /* mix-blend-mode: color-burn; */
    mix-blend-mode: color-dodge;
    /* background-color: white; */

    transform: translateX(-50%);

    /* transform: translateX(-10%); */
    /* animation: glow 10s ease-in alternate infinite; */
    /* animation: glow 2s ease-in; */

    transition: none;
    /* transition: transform 2s ease-in; */
  }

  h1:hover::before {
    transform: translateX(0%);
    transition: transform 4s ease-in;
  }

  @keyframes glow {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* h1::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle, magenta, transparent 30%),
      conic-gradient(red, magenta, blue, limegreen, green, yellow, red);
    mix-blend-mode: color-burn;
  } */

  .c2 {
    width: fit-content;
    animation: test5 linear;
    animation-timeline: view();
  }

  @property --current-span {
    syntax: "<percentage>";
    initial-value: -50%;
    inherits: true;
  }

  body {
    /* animation: test5 linear;
    animation-timeline: scroll(y); */
  }

  @keyframes test5 {
    0% {
      --current-span: -50%;
    }
    100% {
      --current-span: 0%;
    }
  }

  h2 {
    padding-inline: 2rem;
    /* color: white; */
    color: rgba(255, 215, 55, 0.566);
    /* position: relative; */
    /* display: inline-block; */
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); */
    /* mix-blend-mode: color-burn; */
  }

  h2::before {
    content: "";
    /* background-color: white; */
    background-image: linear-gradient(135deg, black 45%, white, black 55%);
    /* inset: 0; */
    top: 0;
    width: 200%;
    height: 100%;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    /* width: 100%;
    height: 100%; */
    position: absolute;
    /* z-index: -1; */
    /* filter: blur(1rem); */

    /* color: white; */
    /* mix-blend-mode: color-burn; */
    mix-blend-mode: color-dodge;
    /* background-color: white; */

    /* transform: translateX(-50%); */
    transform: translateX(var(--current-span));

    /* transform: translateX(-10%); */
    /* animation: glow 2s ease-in alternate infinite; */
    /* animation: glow linear; */
    /* animation-timeline: view(); */

    /* transition: none; */
    /* transition: transform 2s ease-in; */
  }
  /* 
  h2:hover::before {
    transform: translateX(0%);
    transition: transform 4s ease-in;
  } */
</style>
