---
import { Image } from "astro:assets";
import woman1Img from "../images/woman-1.jpg";
import woman2Img from "../images/woman-2.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trigonometry</title>
  </head>
  <body>
    <main class="container">
      <div class="face">
        <Image src={woman2Img} width={360} height={360} alt="" />
        <Image src={woman1Img} width={360} height={360} alt="" />
      </div>
      <div class="orbit">
        <div class="dial">
          <svg viewBox="0 0 24 24" fill="none">
            <path
              d="M13 11L10 16H15L12 21M6 16.4438C4.22194 15.5683 3 13.7502 3 11.6493C3 9.20008 4.8 6.9375 7.5 6.5C8.34694 4.48637 10.3514 3 12.6893 3C15.684 3 18.1317 5.32251 18.3 8.25C19.8893 8.94488 21 10.6503 21 12.4969C21 14.0582 20.206 15.4339 19 16.2417"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 18H7M10 18H21M5 21H12M16 21H19M8.8 15C6.14903 15 4 12.9466 4 10.4137C4 8.31435 5.6 6.375 8 6C8.75283 4.27403 10.5346 3 12.6127 3C15.2747 3 17.4504 4.99072 17.6 7.5C19.0127 8.09561 20 9.55741 20 11.1402C20 13.2719 18.2091 15 16 15L8.8 15Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 15.5018C18.651 14.5223 17 12.2039 17 9.5C17 6.79774 18.6534 4.48062 21 3.5C20.2304 3.17906 19.3859 3 18.5 3C15.7977 3 13.4806 4.64899 12.5 6.9956M6.9 21C4.74609 21 3 19.2889 3 17.1781C3 15.4286 4.3 13.8125 6.25 13.5C6.86168 12.0617 8.30934 11 9.9978 11C12.1607 11 13.9285 12.6589 14.05 14.75C15.1978 15.2463 16 16.4645 16 17.7835C16 19.5599 14.5449 21 12.75 21L6.9 21Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 13V20M4 14.7519C3.37037 13.8768 3 12.8059 3 11.6493C3 9.20008 4.8 6.9375 7.5 6.5C8.34694 4.48637 10.3514 3 12.6893 3C15.684 3 18.1317 5.32251 18.3 8.25C19.8893 8.94488 21 10.6503 21 12.4969C21 13.4232 20.7205 14.2842 20.2413 15M12 14V21M8 13V20"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.3278 16C20.3478 15.1745 21 13.9119 21 12.4969C21 10.6503 19.8893 8.94488 18.3 8.25C18.1317 5.32251 15.684 3 12.6893 3C10.3514 3 8.34694 4.48637 7.5 6.5C4.8 6.9375 3 9.20008 3 11.6493C3 13.1613 3.63296 14.5269 4.65065 15.5M8 18V20M8 12V14M12 19V21M16 18V20M16 12V14M12 13V15"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 18H9.01M15 18H15.01M9 20.5H9.01M12 18H12.01M12 21H12.01M15 20.5H15.01M8.8 15C6.14903 15 4 12.9466 4 10.4137C4 8.31435 5.6 6.375 8 6C8.75283 4.27403 10.5346 3 12.6127 3C15.2747 3 17.4504 4.99072 17.6 7.5C19.0127 8.09561 20 9.55741 20 11.1402C20 13.2719 18.2091 15 16 15L8.8 15Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 13.6493C3 16.6044 5.41766 19 8.4 19L16.5 19C18.9853 19 21 16.9839 21 14.4969C21 12.6503 19.8893 10.9449 18.3 10.25C18.1317 7.32251 15.684 5 12.6893 5C10.3514 5 8.34694 6.48637 7.5 8.5C4.8 8.9375 3 11.2001 3 13.6493Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
        <div class="dial">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.38846 12.7023C3.98522 12.1237 3 10.7636 3 9.17807C3 7.42863 4.3 5.8125 6.25 5.5C6.86168 4.0617 8.30934 3 9.9978 3C12.1607 3 13.9285 4.65893 14.05 6.75C14.8721 7.10549 15.5169 7.83126 15.8166 8.69914M5.38846 12.7023C4.50928 13.5938 4 14.7867 4 16.0315C4 18.7755 6.28335 21 9.1 21L16.75 21C19.0972 21 21 19.1279 21 16.8185C21 15.1039 19.951 13.5202 18.45 12.875C18.3457 11.0905 17.3135 9.5483 15.8166 8.69914M5.38846 12.7023C6.11557 11.9651 7.0957 11.4339 8.25 11.25C9.04989 9.3802 10.943 8 13.151 8C14.1227 8 15.0333 8.25474 15.8166 8.69914"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span>Lightning</span>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  :root {
    --bg-color: white;
    --text-color: black;
    --c1: #fbf8cc;
    --c2: #fde4cf;
    --c3: #ffcfd2;
    --c4: #f1c0e8;
    --c5: #cfbaf0;
    --c6: #a3c4f3;
    --c7: #90dbf4;
    --c8: #8eecf5;
    --c9: #98f5e1;
    --c10: #b9fbc0;

    --c1-darker: #c7c39d;
    --c2-darker: #d7ae9e;
    --c3-darker: #cf9da5;
    --c4-darker: #b88fb3;
    --c5-darker: #a093b9;
    --c6-darker: #6b7ecb;
    --c7-darker: #5caccf;
    --c8-darker: #5cabc8;
    --c9-darker: #6cbeaf;
    --c10-darker: #8bd58e;
  }

  html {
    background-color: var(--bg-color);
    font-family: system-ui, sans-serif;
    font-weight: normal;
    color: var(--text-color);
    box-sizing: border-box;
    line-height: 1.8;
  }

  body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main.container {
    position: relative;
    /* transform: translate(-50%, -50%); */
  }

  .face {
    position: absolute;
    /* position: relative; */
    width: 180px;
    height: 180px;
    /* border-radius: 50%; */
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .face img:last-child() {
    opacity: 0;
    transition: opacity 500ms;
  }

  .face:hover > img:last-child() {
    opacity: 1;
  }

  .face > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
  }

  :root {
    --current-rotation: 0deg;
  }

  @property --current-rotation {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
  }

  @keyframes rotate {
    from {
      --current-rotation: 360deg;
    }
    to {
      --current-rotation: 0deg;
    }
  }

  @keyframes pulse {
    from {
      transform: scale(1);
      /* width: 100px; */
    }
    50% {
      transform: scale(2);
      /* width: 150px; */
    }
    to {
      transform: scale(1);
      /* width: 100px; */
    }
  }

  .orbit {
    --_radius: 240px;
    /* --current-rotation: 0deg; */

    position: absolute;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;

    animation: rotate 60s linear infinite;
  }

  .orbit:has(.dial:hover) {
    animation-play-state: paused;
  }

  .dial {
    --_angle: calc(var(--_initial-angle) + var(--current-rotation));

    background-color: var(--_color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transform: translate(
      calc(cos(var(--_angle)) * var(--_radius)),
      calc(sin(var(--_angle) * (-1)) * var(--_radius))
    );

    transition: background-color 500ms;

    /* animation: pulse 2s infinite; */
  }

  .dial:hover {
    background-color: var(--_color-dark);
  }

  .dial:hover > span {
    opacity: 1;
  }

  .dial > span {
    opacity: 0;
    position: absolute;
    color: white;
    font-weight: 700;
    transition: opacity 500ms;
  }

  .dial > svg {
    width: 60%;
    height: auto;
    position: absolute;
    opacity: 1;
  }

  .dial > svg path {
    stroke: var(--_color-dark);
  }

  .orbit .dial:nth-child(1) {
    --_color: var(--c1);
    --_color-dark: var(--c1-darker);
    --_initial-angle: 0deg;
  }

  .orbit .dial:nth-child(2) {
    --_color: var(--c2);
    --_color-dark: var(--c2-darker);
    --_initial-angle: 45deg;
  }
  .orbit .dial:nth-child(3) {
    --_color: var(--c3);
    --_color-dark: var(--c3-darker);
    --_initial-angle: 90deg;
  }
  .orbit .dial:nth-child(4) {
    --_color: var(--c4);
    --_color-dark: var(--c4-darker);
    --_initial-angle: 135deg;
  }
  .orbit .dial:nth-child(5) {
    --_color: var(--c5);
    --_color-dark: var(--c5-darker);
    --_initial-angle: 180deg;
  }
  .orbit .dial:nth-child(6) {
    --_color: var(--c6);
    --_color-dark: var(--c6-darker);
    --_initial-angle: 225deg;
  }
  .orbit .dial:nth-child(7) {
    --_color: var(--c7);
    --_color-dark: var(--c7-darker);
    --_initial-angle: 270deg;
  }
  .orbit .dial:nth-child(8) {
    --_color: var(--c8);
    --_color-dark: var(--c8-darker);
    --_initial-angle: 315deg;
  }
</style>
